dev/*
mod/*
lib/*
*/*.exe
src/*.mod
src/*.o
src/*.nb
GS/*.out
GS/*.idf
GS/*.vtk
GS/*.off
GS/GS
single-particle/siris1p
single-particle/*.out
single-two-layer-particle/siris2l
single-two-layer-particle/*.out
multi-particle/*.o
multi-particle/sirismp
multi-particle/build/*
tests/*
